.Account h3 {
    border-bottom: none;
    cursor: pointer;
}

.Account .filler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    color: white;
    background: gray;
}
