.Splash section {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.Splash section .content {
    flex-basis: 33%;
    min-height: 250px;
    color: white;
    background: grey;
}

.Splash section .filler {
    flex-basis: 100%;
    min-height: 1250px;
    color: white;
    background: black;
}

@media screen and (max-width: 1000px) {
    .Splash section {
        flex-wrap: wrap;
    }

    .Splash section .content {
        margin: 1%;
        flex-basis: 45%;
        flex-grow: 1;
    }
}

@media screen and (max-width: 750px) {
    .Splash section {
        flex-direction: column;
    }
}
