.Header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Header header {
    flex-basis: 100%;
    max-width: 1200px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: white;
    border-top: #00bcd4 5px solid;
    border-bottom: #00bcd4 1px solid;
}

.Header header a {
    color: #555;
    text-decoration: none;
}

.Header header a:visited {
    color: #555;
}

.Header header .branding {
    display: flex;
    margin: 10px;
}

.Header header .branding .logo {
    height: 25px;
    margin: 0 2px;
}

.Header header .branding h2 {
    color: #007485;
    cursor: pointer;
}

.Header header nav {
    align-self: center;
}

.Header header .menu {
    display: none;
    margin: 10px;
}

.Header header nav a {
    margin: 10px 15px;
}

@media screen and (max-width: 1000px) {
    .Header header .menu {
        cursor: pointer;
        display: block;
    }

    .Header header nav a {
        display: none;
    }
}
