.Tabs {
    display: flex;
    flex-direction: column;
}

.Tabs .titles {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
}

.Tabs .titles .active {
    color: white;
    background: grey;
}
