.Tabs {
    display: flex;
    flex-direction: column;
}

.Tabs .header {
    display: flex;
    justify-content: space-around;
}

.Tabs .header .titles {
    flex-basis: 100%;
    margin: 0;
}

.Tabs .header .titles.active {
    color: white;
    background: #007485;
}

.Tabs .body {
    margin: 3px 0;
    border-bottom: #05e0ff 5px solid;
}
